body{
  font-family: 'Poppins', sans-serif;
}
#background{
background-image: url("../img/back.jpg");

  position:relative;
  background-size: cover;
  background-repeat: no-repeat;
  width: 100%;
  height: auto;
}
ul li a{
  color: white;
}
.navbar-brand,h1{
  font-family: 'Poppins', sans-serif;
  color: white;
  font-weight: 600;
}
.navbar-brand:hover{
  color: black;
}
nav{
  padding-top: 50px;
}
.navbar-toggle .icon-bar{
  border-color: black;
}
h1{
  font-weight: 50;
  padding-top: 50px;
  padding-bottom: 30px;
}
.list-group::-webkit-scrollbar {
  width: 10px;
}

/* Handle */
.list-group::-webkit-scrollbar-thumb {
  background: #03adfc;
}
.group{
  padding:50px 70px 20px 70px;
}
.list-group {
    margin-bottom: 0px;
    height: 330px;
    overflow-y: scroll;
}
.box{
  width: auto;
  height: auto;
  border: 1px solid #d9d9d9;
  box-shadow: 1px 1px 4px #d9d9d9;
}
img{
  padding-right: 10px;
  width: 50px;
  height: 40px;
}
.list-group a{
  font-size: 15px;
}
.panel{
  padding-bottom: 0px;
  box-shadow: 0 2.8px 2.2px rgba(0, 0, 0, 0.034),
  0 6.7px 5.3px rgba(0, 0, 0, 0.048),
  0 12.5px 10px rgba(0, 0, 0, 0.06),
  0 22.3px 17.9px rgba(0, 0, 0, 0.072),
  0 41.8px 33.4px rgba(0, 0, 0, 0.086),
  0 100px 80px rgba(0, 0, 0, 0.12)
;
}
.list-group-item{
  border: none;
}
.button-grp{
  padding-top: 200px;
}
.btn{
  background-color:#03adfc;
  color: white;
}

.switch {
  position: relative;
  display: inline-block;
  width: 50px;
  height: 20px;
}

/* Hide default HTML checkbox */
.switch input {
  opacity: 0;
  width: 0;
  height: 0;
}

/* The slider */
.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  -webkit-transition: .4s;
  transition: .4s;
}

.slider:before {
  position: absolute;
  content: "";
  height: 15px;
  width: 15px;
  left: 3px;
  bottom: 3px;
  background-color: white;
  -webkit-transition: .4s;
  transition: .4s;
}

input:checked + .slider {
  background-color: #2196F3;
}

input:focus + .slider {
  box-shadow: 0 0 1px #2196F3;
}

input:checked + .slider:before {
  -webkit-transform: translateX(29px);
  -ms-transform: translateX(29px);
  transform: translateX(29px);
}

/* Rounded sliders */
.slider.round {
  border-radius: 20px;
}

.slider.round:before {
  border-radius: 50%;
}
.pcol{
  background-image: url("../img/blue.jpg");
  position:relative;
  background-size: cover;
  background-repeat: no-repeat;
  width: 100%;
  height: auto;
  color: white;
}
@media (max-width: 480px) {
  .group{
    padding:10px 10px 10px 10px;
  }
  .button-grp{
    padding: 10px 30px;
  }
}
@media (min-width: 481px) and (max-width: 767px) {
  .group{
    padding:10px 10px 10px 10px;
  }
  .button-grp{
    padding-top: 10px;
    padding-bottom: 10px;
  }
}

/* Media Query for Tablets Ipads portrait mode */
@media (min-width: 768px) and (max-width: 1024px){
  .group{
    padding:10px 10px 10px 10px;
  }
  .button-grp{
    padding-top: 150px;
  }
  .btn{
    font-size: 15px;
    padding: 10px 10px 10px 10px;
  }
}
